@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.woff2'), url('fonts/Roboto-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2'), url('fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.woff2'), url('fonts/Roboto-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.woff2'), url('fonts/Roboto-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@media (max-width: 599.99px) {
  .container {
    margin: 20px;
  }
}

@media (max-width: 449.99px) {
  .container {
    margin: 20px;
  }

  .text--medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  .text--bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}
